.console {
  width: 99vw;
  height: 18vh;
  overflow-x: hidden;
  overflow-y: scroll;

  background-color: #1e1e1e;


  ::-webkit-scrollbar {
    display: none;
  }
}

.log{
  color: #fff;
  margin-left: 10px;
  font-size: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.editor{
  border-bottom: 1px solid white;
}