.console {
  width: 99vw;
  height: 20vh;
  overflow: hidden;

  background-color: #1e1e1e;


  ::-webkit-scrollbar {
    display: none;
  }
}

.log{
  color: #fff;
  margin-left: 10px;
  font-size: 20px;
}

.editor{
  border-bottom: 1px solid white;
}